Source: scolily
Section: sound
Priority: extra
XSBC-Original-Maintainer: Thibaut GIRKA <thibaut.girka@gmail.com>
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
Build-Depends: cdbs, debhelper (>= 5), autotools-dev, pkg-config, fftw3-dev, libasound2-dev, libgtkmm-2.4-dev
Standards-Version: 3.7.2

Package: scolily
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: lilypond
Description: Utility to create music scores from microphone
 Scolily record from any audio device handled by alsa,
 and then create a music score ( lilypond, ABC music
 and Midi files are currently supported ).
 .
 Homepage: https://scolily.codingteam.net/
